<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.myapp.mapper.BoardMapper">

    <insert
            id="insert">

        INSERT INTO tbl_board
                        (title, content, writer)
        VALUES (#{title}, #{content}, #{writer})

    </insert>

    <insert
            id="insertSelectKey">

        <selectKey keyProperty="bno" order="BEFORE" resultType="int" >
            SELECT "ISEQ$$_125310".nextval FROM dual
        </selectKey>

        INSERT INTO tbl_board(bno, title, content, writer)
        VALUES(#{bno}, #{title}, #{content}, #{writer})

    </insert>


    <select
            id="select"
            resultType="org.zerock.myapp.domain.BoardVO" >

        SELECT * FROM tbl_board WHERE bno = #{bno}

    </select>


    <update
            id="update">

        UPDATE tbl_board
        SET
            title = #{title},
            content = #{content},
            writer = #{writer},
            update_ts = CURRENT_DATE
        WHERE
            bno = ${bno}

    </update>

</mapper>