<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN" monitorInterval="30">
<!--    최상위 요소-->
    <Properties>
        <Property name="LOG_PATTERN">%highlight{%d{HH:mm:ss.SSS} -- %5p -- [ %5.50t ] %-1.50c{1.}.%-1.20M:%L  :    %m%n%ex}{TRACE=#FFFFFF}</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>